[Unit]
Description=Bot Conan Discord
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/bot/bot_conan
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
